BOT_TOKEN=123456:ABCDEF_your_token_here
# На Bothost PROXY_URL оставь пустым. ADMIN_IDS обязательно задай в env панели.
PROXY_URL=
ADMIN_IDS=8286295216,7857899220,5789115215
SUPPORT_URL=https://t.me/ManagerIolzDeals
MANAGER_USERNAME=ManagerIolzDeals
DEAL_MANAGER_USERNAME=ManagerIolzDeals
DEAL_MANAGER_REQUISITES=2204120122508217
